/* You can add global styles to this file, and also import other style files */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

body 
{
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
    background-color: #4772ca
}