/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: solid red 1px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}