.gameCanvas
{
    /* border:solid red 1px; */
}

.canvasContainer
{
    position: relative;
    /* transform: scale(3); */
}

.gameCanvas
{
    border:solid blue 1px;
    image-rendering: pixelated;
}